@charset "utf-8";

/*******************************************/
img.img-fluid.shadow1.mt-2.p-4.bg-white:hover {
    transform: scale(1.03, 1.03);
    transition: 0.5s ease-in-out;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3);
}

.status-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

img.img-responsive {
    width: 100%;
    max-height: 15rem;
    position: absolute;
    top: 0;
    left: 0;
}

.container-fluid.text-center.mt-3.overlay {
    position: relative;
    z-index: -1000;
}

.container.mt-6 {
    margin-top: 4rem !important;
}

.footer-btn:hover {
    background-color: rgb(222, 222, 222);
}

img.footer-img {
    width: 2.2rem;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Full-width input fields */
.modal-input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.x {
    background-image: url("../pics/lap.png");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.y {
    background-image: url("../pics/2.jpg");
     !important
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
}

.content.shadow1.bg-white.p-3:hover {
    transition: 0.5s ease-in-out;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3);
}

p.text-primary {
    position: absolute;
    top: 7rem;
    left: 35%;
    color: white !important;
    /* color: white !important; */
    transition: 0.5s;
}

p.float-right.fa.fa-heart:hover {
    color: red;
}

/*******tab style******/
.topnav a {
    color: #000;
}

.topnav a:hover {
    border-bottom: 3px solid gray;
}

.tab-clicked {
    border-bottom: 3px solid black;
}

.tab-remove {
    border: 0;
}

.tab-content-show {
    display: block;
}

.tab-content-hide {
    display: none;
}
